/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark background */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #000; /* Black scrollbar */
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #222; /* Slightly lighter on hover */
  }
  